parameters:
  level: 2

  paths:
    - src

  ignoreErrors:
    - '#^Function phpiredis_\w+ not found\.$#'
    -
      message: "#^Unsafe usage of new static\\(\\)\\.$#"
      count: 3
      path: src/Client.php
    -
      message: "#^Unsafe usage of new static\\(\\)\\.$#"
      count: 1
      path: src/Connection/Parameters.php
