<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/>
    </php>

    <testsuites>
        <testsuite name="Predis Test Suite">
            <directory>tests/Predis/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-php" target="build/cov/coverage.cov"/>
    </logging>

    <groups>
        <exclude>
            <group>realm-stack</group>
            <group>ext-relay</group>
            <group>ext-curl</group>
            <group>cluster</group>
            <group>gears</group>
            <group>gears-cluster</group>
            <group>unprotected</group>
            <!-- <group>connected</group> -->
            <!-- <group>disconnected</group> -->
            <!-- <group>commands</group> -->
            <!-- <group>slow</group> -->
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <const name="REDIS_SERVER_HOST" value="127.0.0.1" />
        <const name="REDIS_SERVER_PORT" value="6379" />
        <const name="REDIS_UNPROTECTED_SERVER_PORT" value="6380" />
        <const name="REDIS_SERVER_DBNUM" value="0" />
        <const name="REDIS_PASSWORD" value="foobar" />
        <env name="USE_RELAY" value="false" />
        <env name="REDIS_STACK_SERVER_PORT" value="6479" />

        <!-- SSL -->
        <env name="STANDALONE_CA_CERT_PATH" value=".github/dockers/standalone/tls/ca.crt" />
        <env name="REDIS_SSL_PORT" value="6666" />
        <env name="CLUSTER_CA_CERT_PATH" value=".github/dockers/cluster/tls/ca.crt" />
        <const
            name="SSL_REDIS_CLUSTER_ENDPOINTS"
            value="127.0.0.1:27379?password=foobar,127.0.0.1:27380?password=foobar,127.0.0.1:27381?password=foobar"
        />

        <!-- Redis Cluster -->
        <!-- Only master nodes endpoints included -->
        <const
            name="REDIS_CLUSTER_ENDPOINTS"
            value="127.0.0.1:6372?password=foobar,127.0.0.1:6373?password=foobar,127.0.0.1:6374?password=foobar"
        />
    </php>
</phpunit>
